<script src="../../model/venue.js"></script>

<template id="venueTemplate">
	<style>
		.venue {
			display: inline-block;
			width: 400px;
		}
		.venue img {
			width: inherit;
		}
	</style>
	<div class="venue">
		<image class="image">
		<div>
			<span class="name"></span>
			<span class="city"></span>
			<span class="country"></span>
			<span class="built"></span>
			<span class="capacity"></span>
		</div>
	</div>
</template>

<script type="text/javascript">
	(function VenueView() {
		var VenuePrototype = Object.create(HTMLElement.prototype),
			importDocument = document.currentScript.ownerDocument,
			venueTemplate = importDocument.querySelector('#venueTemplate').content;

		VenuePrototype.createdCallback = function() {
			var instance = this,
				root = instance.createShadowRoot(),
				data = JSON.parse(instance.getAttribute('data')),
				venue = new Venue(data),
				venueElement = venueTemplate.querySelector('.venue');

			venueElement.querySelector('.built').textContent = venue.built;
			venueElement.querySelector('.capacity').textContent = venue.capacity;
			venueElement.querySelector('.city').textContent = venue.city;
			venueElement.querySelector('.country').textContent = venue.country;
			venueElement.querySelector('.image').src = venue.image;
			venueElement.querySelector('.name').textContent = venue.name;

			root.appendChild(document.importNode(venueTemplate, true));
		}

		document.registerElement(
			'swc-venue', {
				prototype: VenuePrototype
			}
		);
	})();
</script>
