<script src="../../model/table.js"></script>
<script src="../../model/match.js"></script>
<script src="../../model/team.js"></script>
<script src="../../model/club.js"></script>

<script src="../../../lib/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../../lib/iron-ajax/iron-ajax.html">

<dom-module id="swc-table">
	<template>
		<link rel="stylesheet" href="assets/default.css">
		<iron-ajax id="tableRequest" auto handle-as="json" on-response="loadData"></iron-ajax>

		<section class="swc-component swc-table">
			<header>
				<template is="dom-if" if="{{isRanged(rounds)}}">
					<input id="round" type="range"/>
				</template>
			</header>

			<table class="table">
				<caption></caption>
				<thead>
					<template is="dom-if" if="{{headerClass}}">
						<tr>
							<th class="col-position">[[headerClass.position]]</th>
							<th class="col-movement"><span class="head"></span></th>
							<th class="col-last-position">[[headerClass.lastPosition]]</th>
							<th class="col-club">[[headerClass.club]]</th>
							<th class="col-played">[[headerClass.played]]</th>
							<th class="col-won">[[headerClass.won]]</th>
							<th class="col-drawn">[[headerClass.drawn]]</th>
							<th class="col-lost">[[headerClass.lost]]</th>
							<th class="col-goal-for">[[headerClass.goalFor]]</th>
							<th class="col-goal-against">[[headerClass.goalAgainst]]</th>
							<th class="col-point">[[headerClass.points]]</th>
						</tr>
					</template>
				</thead>
				<tfoot>
					<template is="dom-if" if="{{headerClass}}">
						<tr>
							<th class="col-position">[[headerClass.position]]</th>
							<th class="col-movement"><span class="head"></span></th>
							<th class="col-last-position">[[headerClass.lastPosition]]</th>
							<th class="col-club">[[headerClass.club]]</th>
							<th class="col-played">[[headerClass.played]]</th>
							<th class="col-won">[[headerClass.won]]</th>
							<th class="col-drawn">[[headerClass.drawn]]</th>
							<th class="col-lost">[[headerClass.lost]]</th>
							<th class="col-goal-for">[[headerClass.goalFor]]</th>
							<th class="col-goal-against">[[headerClass.goalAgainst]]</th>
							<th class="col-point">[[headerClass.points]]</th>
						</tr>
					</template>
				</tfoot>
				<tbody>
					<template id="rowTemplate" is="dom-repeat" items="[[selectedRound]]">
						<tr class$="[[calculateRowClass(item)]]">
							<td class="position">[[item.position]]</td>
							<td class="movement"><span class$="[[calculateMovementClassName(item)]]"></span></td>
							<td class="last-position">[[calculateLastPosition(item)]]</td>
							<td class="club">[[item.team_name]]</td>
							<td class="played">[[item.played]]</td>
							<td class="won">[[item.won]]</td>
							<td class="drawn">[[item.drawn]]</td>
							<td class="lost">[[item.lost]]</td>
							<td class="goal-for">[[item.goal_for]]</td>
							<td class="goal-against">[[item.goal_against]]</td>
							<td class="point">[[item.points]]</td>
						</tr>
					</template>
				</tbody>
			</table>
		</section>
	</template>

	
</dom-module>

<script>
		Polymer(
			{
				is: "swc-table",

				properties: {

					headerClass: {
						type: Object,
						notify: true,
          				readOnly: true,
						value: {
							position: "POS",
							lastPosition: "LP",
							club: "CLUB",
							played: "P",
							won: "W",
							drawn: "D",
							lost: "L",
							goalFor: "GF",
							goalAgainst: "GA",
							points: "P"
						}
					},

					matches: {
						type: Array,
						value: []
					},

					rounds: {
						type: Array,
						value: []
					},

					selectedRound: {
						type: Array,
						value: []
					},

					tableElement: {
						type: Object,
						value: null
					},

					type: {
						type: String,
						value: "matches"
					},

					url: {
						type: String,
						value: null
					}
				},

				ready: function() {
					this.$.tableRequest.url = this.url;

					this.notifyPath('headerClass', this.headerClass);
				},

				loadData: function(data) {
					var json = data.detail.response;

					if (json.type === "matches") {
						this.loadMatches(json);
					}
					else {
						this.loadSummarized(json);
					}
				},

				loadMatches: function(json) {
					var matches = json.matches;
					var teams = json.teams;

					teams.forEach(
						function(team) {
							localStorage.setItem(team.id, JSON.stringify(team));
						}
					);

					var tableElement = new Table(matches);

					this.selectedRound = tableElement.rounds[0];
				},

				loadSummarized: function(json) {
					var tableElement = new Table(json);

					this.selectedRound = tableElement.rounds[0];
				},

				/*
					calculateMovementClassName function
				*/
				calculateMovementClassName: function(team) {
					var movementClassName = 'stayed',
						difference = team.last_position != 0 ? team.position - team.last_position : 0;

					if (difference < 0) {
						movementClassName = 'up';
					}
					else if (difference > 0) {
						movementClassName = 'down';
					}

					return movementClassName;
				},

				/*
					calculateLastPosition function
				*/
				calculateLastPosition: function(team) {
					return '(' + (team.last_position || "-") + ')';
				},

				/*
					createRoundRange function
				*/
				createRoundRange: function (rounds, showRound, roundElement) {
					roundElement.setAttribute('min', 1);
					roundElement.setAttribute('max', rounds.length);
					roundElement.setAttribute('steps', 1);
					roundElement.setAttribute('value', showRound);
				},

				/*
					createTableBodyElement function
				*/
				createTableBodyElement: function(round, rowTemplate, tableBodyElement) {
					for (var i = 0; i < round.length; i++) {
						var team = round[i];
						
						setTDData(rowTemplate, team, i + 1);

						tableBodyElement.appendChild(document.importNode(rowTemplate.content, true));
					}
				},

				/*
					calculateRowClass function
				*/
				calculateRowClass: function(team) {
					var className = '';

					if (team.position === 1) {
						className = 'first';
					}
					else if (team.position === 2) {
						className = 'second';
					}
					else if (team.position === 3) {
						className = 'third';
					}
					else if (team.position === 4) {
						className = 'fourth';
					}
					else if (team.position === 5) {
						className = 'fifth';
					}
					else if (team.position === 18) {
						className = 'eighteenth';
					}
					else if (team.position === 19) {
						className = 'nineteenth';
					}
					else if (team.position === 20) {
						className = 'twentieth';
					}

					return className;
				}
			}
		);
	</script>